<nav class="navbar navbar-default" role="navigation">
	<div class="container">
<%=link_to 'Pinner', root_path,class:'navbar-brand' %>
      <div class="navbar-header">
      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><%= link_to 'Home', root_path %></li>
          <li class="nav-item"><%= link_to 'About Us', home_about_path %></li>
          <li class="nav-item"><%= link_to 'List Pins', pins_path %></li>
      <% if user_signed_in? %>
          <li class="nav-item"><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li class="nav-item"><%= link_to 'Add Pin', new_pin_path %></li>
          <li class="nav-item"><%= link_to 'Log Out', destroy_user_session_path, method::delete %></li>
      <% else %>
          <li class="nav-item"><%= link_to 'Login', new_user_session_path %></li>
          <li class="nav-item"><%= link_to 'Join', new_user_registration_path %></li>
      <% end %>
        </ul>
      </div>
  		</div>
	</div>
    </nav>
